[maxscale]
threads           = auto
log_augmentation  = 1
ms_timestamp      = 1
syslog            = 1
admin_host        = 0.0.0.0
admin_port        = 8989
admin_auth        = 1
admin_enabled     = 1
admin_secure_gui  = false

########################
# Server list
########################
[server1]
type              = server
address           = mariadb_mariadb-master
port              = 3301
protocol          = MariaDBBackend
ssl               = true
ssl_cert          = /etc/maxscale/tls/client-cert.pem
ssl_key           = /etc/maxscale/tls/client-key.pem
ssl_ca            = /etc/maxscale/tls/ca-cert.pem
replication_custom_options=MASTER_SSL=1,
                           MASTER_SSL_VERIFY_SERVER_CERT=1
                           MASTER_SSL_CERT = '/etc/my.cnf.d/tls/client-cert.pem',
                           MASTER_SSL_KEY = '/etc/my.cnf.d/tls/client-key.pem',
                           MASTER_SSL_CA = '/etc/my.cnf.d/tls/ca-cert.pem'

[server2]
type              = server
address           = mariadb_mariadb-slave1
port              = 3302
protocol          = MariaDBBackend
ssl               = true
ssl_cert          = /etc/maxscale/tls/client-cert.pem
ssl_key           = /etc/maxscale/tls/client-key.pem
ssl_ca            = /etc/maxscale/tls/ca-cert.pem
replication_custom_options=MASTER_SSL=1,
                           MASTER_SSL_VERIFY_SERVER_CERT=1
                           MASTER_SSL_CERT = '/etc/my.cnf.d/tls/client-cert.pem',
                           MASTER_SSL_KEY = '/etc/my.cnf.d/tls/client-key.pem',
                           MASTER_SSL_CA = '/etc/my.cnf.d/tls/ca-cert.pem'

#########################
# Monitor for the servers
#########################
[MariaDB-Monitor]
type              = monitor
module            = mariadbmon
servers           = server1,server2
user              = maxuser
password          = maxpwd
monitor_interval  = 2000ms
enforce_read_only_slaves = 1
auto_failover     = 1
failover_timeout  = 2000ms
auto_rejoin       = true
failcount         = 5
master_failure_timeout  = 2000ms
verify_master_failure   = true
switchover_timeout      = 2000ms


#########################
# Service definitions for read/write splitting and read-only services.
#########################
[Read-Write-Service]
type              = service
router            = readwritesplit
servers           = server1,server2
user              = maxuser
password          = maxpwd

##########################
# Listener definitions for the service
# Listeners represent the ports the service will listen on.
##########################
[Read-Write-Listener]
type              = listener
service           = Read-Write-Service
protocol          = MariaDBClient
port              = 6033
ssl               = true
ssl_cert          = /etc/maxscale/tls/maxscale-cert.pem
ssl_key           = /etc/maxscale/tls/maxscale-key.pem
ssl_ca            = /etc/maxscale/tls/ca-cert.pem