version: "3.8"

services:
  maxscale:
    image: mariadb/maxscale:24.02.3
    deploy:
      replicas: 1
      update_config:
        order: start-first
        delay: 1s
      restart_policy:
        condition: on-failure
        delay: 5s
        window: 120s
        max_attempts: 2
    volumes:
      - SECURE_DIR_SET/conf/maxscale/maxscale.cnf:/etc/maxscale.cnf
      - SECURE_DIR_SET/conf/maxscale/blacklist-rules.txt:/etc/maxscale/blacklist-rules.txt
      - SECURE_DIR_SET/tls:/etc/maxscale/tls
      - /var/log/maxscale:/var/log/maxscale
    ports:
      - MAXSCALE_PORT_SET:MAXSCALE_PORT_SET
      - 58989:58989
    networks:
      - mariadb-network

networks:
  mariadb-network:
    external: true
