[client]
ssl
ssl-ca   = /etc/my.cnf.d/tls/ca-cert.pem
ssl-cert = /etc/my.cnf.d/tls/client-cert.pem
ssl-key  = /etc/my.cnf.d/tls/client-key.pem
ssl-verify-server-cert = ON # Set to OFF to disable server certificate verification