[mysqld]

# -- Below configs are mandatory, 
default_authentication_plugin    = mysql_native_password
log_bin_trust_function_creators  = 1
sql-mode          = 
bind-address      = 0.0.0.0
log_bin           = mysql-bin
binlog_format     = row
max_binlog_size   = 100M
expire_logs_days  = 5

# -- You can add other configs below --
character-set-server    = utf8mb4
collation-server        = utf8mb4_general_ci
max_connections         = 5000
max_allowed_packet      = 500M
innodb_buffer_pool_size = 2G
innodb_flush_neighbors  = 0
innodb_log_file_size    = 512M
#tls_version            = TLSv1.2,TLSv1.3

# Timeout
connect_timeout         = 86400
wait_timeout            = 86400
interactive_timeout     = 86400
net_read_timeout        = 86400
net_write_timeout       = 86400

# Enable thread pool
thread_handling         = pool-of-threads
thread_pool_size        = 4
thread_pool_stall_limit = 60
slave_parallel_threads  = 4

# Enable table encryption
plugin_load_add                           = file_key_management
file_key_management_filename              = /etc/mysql/encryption/keyfile.enc
file_key_management_filekey               = FILE:/etc/mysql/encryption/keyfile.key
file_key_management_encryption_algorithm  = AES_CTR
innodb_encrypt_tables                     = FORCE
innodb_encrypt_log                        = ON
innodb_encrypt_temporary_tables           = ON
innodb_tablespaces_encryption             = ON
encrypt_tmp_disk_tables                   = ON
encrypt_tmp_files                         = ON
encrypt_binlog                            = ON
aria_encrypt_tables                       = ON
innodb_encryption_threads                 = 4
innodb_encryption_rotation_iops           = 2000
innodb_encryption_rotate_key_age          = 1024