[mysqld]

# -- Below configs are mandatory, 
# -- Don't change except server-id, bind-address, port
default_authentication_plugin    = mysql_native_password
log_bin_trust_function_creators  = 1
sql-mode          = 
bind-address      = 0.0.0.0
server-id         = 2
port              = 3302
log_bin           = mysql-bin
binlog_format     = row
max_binlog_size   = 100M
expire_logs_days  = 5
tls_version       = TLSv1.2,TLSv1.3

# -- You can add other configs below --
character-set-server    = utf8mb4
collation-server        = utf8mb4_general_ci
max_connections         = 5000
max_allowed_packet      = 500M
innodb_buffer_pool_size = 2G
innodb_flush_neighbors  = 0
innodb_log_file_size    = 512M
# Timeout
connect_timeout         = 86400
wait_timeout            = 86400
interactive_timeout     = 86400
net_read_timeout        = 86400
net_write_timeout       = 86400
# Enable thread pool
thread_handling         = pool-of-threads
thread_pool_size        = 4
thread_pool_stall_limit = 60
slave_parallel_threads  = 4

# Enable SSL
require_secure_transport= ON
ssl
ssl-ca                  = /etc/my.cnf.d/tls/ca-cert.pem
ssl-cert                = /etc/my.cnf.d/tls/server-cert.pem
ssl-key                 = /etc/my.cnf.d/tls/server-key.pem